{% extends 'hearder.html' %}
{% block right %}
    <div class="row">
        <div class="col-xs-12">

        </div>

    </div>
    <div class="row">
        <form action="">
            <div>
                <label for="">菜单名</label>
                <input type="text"/>
            </div>
            <div>
                <label for="">方法</label>
                <input type="text"/>
            </div>
            <div>
                <label for="">菜单类型</label>
                <input type="text"/>
            </div>
            <div>
                <label for="">状态</label>
                <input type="text"/>
            </div>
            <button class="btn btn-primary" style="margin-left: 30px">提交</button>
            <button class="btn btn-default" >重填</button>
        </form>
    </div>

{% endblock %}