{% extends 'hearder.html' %}
{% block right %}
    <div class="row">
        <div class="col-xs-12">

        </div>

    </div>
    <div class="row">
            <div class="col-xs-2">
              <button class="btn btn-primary" style="margin-left: 30px">添加菜单</button>
         </div>
        <div class="col-xs-10">

         </div>
    </div>
    <div class="row" style="margin:5px 0 0 30px">
       <table>
           <tr>
               <th>id</th>
               <th>菜单名</th>
               <th>模块名</th>
               <th>类型</th>
               <th>状态</th>
               <th>操作</th>
           </tr>
       </table>
    </div>
    <div class="row">

    </div>

{% endblock %}